body, button {
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 500px;
  }

.calculator {
    width: 400px;
    padding: 20px;
  }  

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }