body, button {
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 500px;
  }

.calculator {
    width: 400px;
    padding: 20px;
  }

.screen {
    text-align: right;
    padding: 10px 20px;
    border: 2px black solid;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 40px;
}

.extra-buttons {
  margin-bottom: 10px;
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

.btn {
    padding: 20px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 20px;
}

#btn-undo {
  background-color: #b5b8ff;
}

#btn-clear {
  background-color: #ff9191;
}

#screen-secondary {
  font-size: 15px;
}